In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#CSV to Load
zillow_data= 'C:/Users/laure/OneDrive/Desktop/classfolder/zillow_data.csv'
zillow_df=pd.read_csv(zillow_data)
zillow_df.head()

,RegionID,RegionName,SizeRank,MsaName,Jan-14,Feb-14,Mar-14,Apr-14,May-14,Jun-14,...,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21
0,95314,87120,193,"Albuquerque, NM",791.0,823.0,808.0,821.0,832.0,842.0,...,1038.0,1023.0,1053.0,1055.0,1065.0,1068.0,1093.0,1111.0,1142.0,1177.0
1,95315,87121,278,"Albuquerque, NM",1010.0,989.0,966.0,985.0,996.0,1011.0,...,1257.0,1307.0,1296.0,1294.0,1277.0,1300.0,1300.0,1320.0,1364.0,1482.0
2,95318,87124,464,"Albuquerque, NM",943.0,913.0,916.0,931.0,948.0,959.0,...,1206.0,1210.0,1203.0,1212.0,1239.0,1242.0,1260.0,1294.0,1320.0,1336.0
3,95304,87109,812,"Albuquerque, NM",856.0,893.0,882.0,878.0,871.0,883.0,...,1091.0,1100.0,1071.0,1096.0,1126.0,1140.0,1164.0,1184.0,1214.0,1282.0
4,95303,87108,1076,"Albuquerque, NM",500.0,544.0,531.0,534.0,523.0,499.0,...,724.0,722.0,717.0,728.0,715.0,735.0,763.0,771.0,765.0,766.0

In [3]:

#pd.read_csv('coors.csv', header=None, dtype={0: str}).set_index(0).squeeze().to_dict()

In [4]:
zillow_df.columns.tolist()

['RegionID',
 'RegionName',
 'SizeRank',
 'MsaName',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15',
 'Mar-15',
 'Apr-15',
 'May-15',
 'Jun-15',
 'Jul-15',
 'Aug-15',
 'Sep-15',
 'Oct-15',
 'Nov-15',
 'Dec-15',
 'Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17',
 'Mar-17',
 'Apr-17',
 'May-17',
 'Jun-17',
 'Jul-17',
 'Aug-17',
 'Sep-17',
 'Oct-17',
 'Nov-17',
 'Dec-17',
 'Jan-18',
 'Feb-18',
 'Mar-18',
 'Apr-18',
 'May-18',
 'Jun-18',
 'Jul-18',
 'Aug-18',
 'Sep-18',
 'Oct-18',
 'Nov-18',
 'Dec-18',
 'Jan-19',
 'Feb-19',
 'Mar-19',
 'Apr-19',
 'May-19',
 'Jun-19',
 'Jul-19',
 'Aug-19',
 'Sep-19',
 'Oct-19',
 'Nov-19',
 'Dec-19',
 'Jan-20',
 'Feb-20',
 'Mar-20',
 'Apr-20',
 'May-20',
 'Jun-20',
 'Jul-20',
 'Aug-20',
 'Sep-20',
 'Oct-20',
 'Nov-20',
 'Dec-20',
 'Jan-21',
 'Feb-21',
 'Mar-21',
 'Apr-21',
 'May-21',
 'Jun-21',
 'Jul-21']

In [5]:
zillow_df.drop('RegionID', axis=1)

,RegionName,SizeRank,MsaName,Jan-14,Feb-14,Mar-14,Apr-14,May-14,Jun-14,Jul-14,...,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21
0,87120,193,"Albuquerque, NM",791.0,823.0,808.0,821.0,832.0,842.0,848.0,...,1038.0,1023.0,1053.0,1055.0,1065.0,1068.0,1093.0,1111.0,1142.0,1177.0
1,87121,278,"Albuquerque, NM",1010.0,989.0,966.0,985.0,996.0,1011.0,1014.0,...,1257.0,1307.0,1296.0,1294.0,1277.0,1300.0,1300.0,1320.0,1364.0,1482.0
2,87124,464,"Albuquerque, NM",943.0,913.0,916.0,931.0,948.0,959.0,958.0,...,1206.0,1210.0,1203.0,1212.0,1239.0,1242.0,1260.0,1294.0,1320.0,1336.0
3,87109,812,"Albuquerque, NM",856.0,893.0,882.0,878.0,871.0,883.0,883.0,...,1091.0,1100.0,1071.0,1096.0,1126.0,1140.0,1164.0,1184.0,1214.0,1282.0
4,87108,1076,"Albuquerque, NM",500.0,544.0,531.0,534.0,523.0,499.0,510.0,...,724.0,722.0,717.0,728.0,715.0,735.0,763.0,771.0,765.0,766.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,27103,1368,"Winston-Salem, NC",996.0,1050.0,1037.0,1036.0,1052.0,1026.0,1037.0,...,1344.0,1340.0,1331.0,1368.0,1394.0,1399.0,1433.0,1441.0,1470.0,1520.0
2229,27104,2247,"Winston-Salem, NC",NaN,940.0,940.0,966.0,982.0,979.0,975.0,...,1238.0,1237.0,1240.0,1228.0,1241.0,1259.0,1345.0,1350.0,1346.0,1397.0
2230,27012,3043,"Winston-Salem, NC",NaN,1093.0,NaN,1095.0,NaN,1132.0,1126.0,...,1304.0,1337.0,1332.0,1374.0,1409.0,1456.0,1455.0,1449.0,1520.0,1532.0
2231,27101,4011,"Winston-Salem, NC",NaN,1064.0,1030.0,1035.0,1050.0,1063.0,1066.0,...,1337.0,1378.0,1358.0,1403.0,1396.0,1444.0,1469.0,1507.0,1663.0,1637.0
2232,1604,2069,"Worcester, MA",1090.0,1087.0,1096.0,1089.0,1098.0,1098.0,1126.0,...,1581.0,1573.0,1601.0,1567.0,1653.0,1680.0,1671.0,1723.0,1716.0,1732.0

In [6]:
zillow_df.drop('SizeRank', axis=1)

,RegionID,RegionName,MsaName,Jan-14,Feb-14,Mar-14,Apr-14,May-14,Jun-14,Jul-14,...,Oct-20,Nov-20,Dec-20,Jan-21,Feb-21,Mar-21,Apr-21,May-21,Jun-21,Jul-21
0,95314,87120,"Albuquerque, NM",791.0,823.0,808.0,821.0,832.0,842.0,848.0,...,1038.0,1023.0,1053.0,1055.0,1065.0,1068.0,1093.0,1111.0,1142.0,1177.0
1,95315,87121,"Albuquerque, NM",1010.0,989.0,966.0,985.0,996.0,1011.0,1014.0,...,1257.0,1307.0,1296.0,1294.0,1277.0,1300.0,1300.0,1320.0,1364.0,1482.0
2,95318,87124,"Albuquerque, NM",943.0,913.0,916.0,931.0,948.0,959.0,958.0,...,1206.0,1210.0,1203.0,1212.0,1239.0,1242.0,1260.0,1294.0,1320.0,1336.0
3,95304,87109,"Albuquerque, NM",856.0,893.0,882.0,878.0,871.0,883.0,883.0,...,1091.0,1100.0,1071.0,1096.0,1126.0,1140.0,1164.0,1184.0,1214.0,1282.0
4,95303,87108,"Albuquerque, NM",500.0,544.0,531.0,534.0,523.0,499.0,510.0,...,724.0,722.0,717.0,728.0,715.0,735.0,763.0,771.0,765.0,766.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2228,69206,27103,"Winston-Salem, NC",996.0,1050.0,1037.0,1036.0,1052.0,1026.0,1037.0,...,1344.0,1340.0,1331.0,1368.0,1394.0,1399.0,1433.0,1441.0,1470.0,1520.0
2229,69207,27104,"Winston-Salem, NC",NaN,940.0,940.0,966.0,982.0,979.0,975.0,...,1238.0,1237.0,1240.0,1228.0,1241.0,1259.0,1345.0,1350.0,1346.0,1397.0
2230,69169,27012,"Winston-Salem, NC",NaN,1093.0,NaN,1095.0,NaN,1132.0,1126.0,...,1304.0,1337.0,1332.0,1374.0,1409.0,1456.0,1455.0,1449.0,1520.0,1532.0
2231,69204,27101,"Winston-Salem, NC",NaN,1064.0,1030.0,1035.0,1050.0,1063.0,1066.0,...,1337.0,1378.0,1358.0,1403.0,1396.0,1444.0,1469.0,1507.0,1663.0,1637.0
2232,58443,1604,"Worcester, MA",1090.0,1087.0,1096.0,1089.0,1098.0,1098.0,1126.0,...,1581.0,1573.0,1601.0,1567.0,1653.0,1680.0,1671.0,1723.0,1716.0,1732.0

In [7]:
#zillow_df.rename(columns={'MsaName': 'City'}, inplace=True)

In [8]:
#zillow_df.MsaName.str.split(expand=True,)

In [9]:
zillow_df[['City', "State"]]=zillow_df.MsaName.str.split(expand=True,)

ValueError: Columns must be same length as key